body{
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(pexels-pixabay-60597.jpg);
    background-size: cover;
    background-position: center;
}

h2{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
    text-align: center;
    color:#fff;
}

.clock{
    display: flex;  
}

.clock div{
    margin: 0.5rem;
    position: relative;
}

.clock span{
    width: 10rem;
    height: 8rem;
    background-color:slateblue;
    opacity: .8;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: darkblue;
}
.clock #ampm{
    bottom: 0;
    position:absolute;
    width:6rem;
    height: 3rem;
    font-size: 2rem;
    background-color: rgb(0, 128, 0);
}

/* MESSAGE GENERATOR */
.message-container{
    display: flex;
    margin-top: 3.125rem;
    justify-content: space-between;
    align-items: center;
}

.quote{
    font-size: 1.563rem;
    color: #fff;
}

#message{
    font-size: 1.563rem;
    font-family: 'Times New Roman', Times, serif;
 font-style: italic;
}

#new-message-generator{
    font-size: 0.315rem;
    color: #fff;
    background-color: rgb(0, 128, 0);
   padding: 0.625rem 0.625rem;
    border: none;
    border-radius: 15rem;

}