body{
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(pexels-pixabay-60597.jpg);
    background-size: cover;
    background-position: center;
}
/* the clock heading */
h2{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
    text-align: center;
    color:#fff;
}
/* digital clock container */
.clock{
    display: flex;  
}
 /* hour,minute and second container */
.clock div{
    margin: 0.5rem;
    position: relative;
}
/* clock info box */
.clock span{
    width: 10rem;
    height: 8rem;
    background-color:slateblue;
    opacity: .8;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/* clock text */
.clock .text{
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: darkblue;
}
/* AM and PM */
.clock #ampm{
    bottom: 0;
    position:absolute;
    width:6rem;
    height: 3rem;
    font-size: 2rem;
    background-color: rgb(0, 128, 0);
}

/* MESSAGE GENERATOR */
/* message container */
.message-container{
    display: flex;
    margin-top: 3.125rem;
    justify-content: space-around;
    align-items: center;
}
/* quotes container */

.message-box{
    padding-right: 60px;
    padding-left:  60px;
}
/* quotes generator button container */
.btn-box{
    position: absolute;
    right: 5%;
    bottom: 2%;
}
   /* left  quote icon */

 .fa-quote-left{
    font-size: 2rem;
    color: #a8a8a8;
    float: left;
   
}
/* right quote icon */
.fa-quote-right{
    font-size: 2rem;
    color: #a8a8a8;
    float: right;
    
    
   
}
/* text between the quotation marks */
#message{
    font-size: 1.63rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
 font-style: italic;
 color: #ffffff;
}
 /*  quote genrator button */
#new-message-generator-btn{
    font-size: 0.625rem;
    color: #fff;
    background-color: rgb(0, 128, 0);
   padding: 0.625rem 0.625rem;
    border: none;
    border-radius: 15rem;
    margin-left: 15px;

}

/* footer*/
footer{
   position: absolute;
   bottom: 2%;
}